.btn-primary,
.btn-outline-primary {
  font-weight: $font-weight-bold;
}

.btn-primary {
  border-color: #0a47a3;
  background-image: linear-gradient(#0b4fb3, #0a47a3);

  &:hover {
    background-image: linear-gradient(#0c53bc, #0b4fb3);
  }
}

.btn-secondary {
  border-color: #30363d;
  background-image: linear-gradient(#21262d, #1c2128);

  &:hover {
    background-image: linear-gradient(#2d333b, #21262d);
  }
}

.btn-outline-primary,
.btn-outline-secondary {
  color: $body-color;
  border-color: #30363d;
}
