.page-link {
  background-image: none;

  &:hover {
    text-decoration: $link-hover-decoration;
  }
}

.page-item {
  &.active .page-link {
    background-image: none;
  }

  &.disabled .page-link {
    background-image: none;
  }
}
